// Hero Module
.ui-module-hero-tapestry
	.container

		p
			img(class="teste", src="assets/images/ui.png", alt="") 
		p
			img(src="assets/images/mascot.png", alt="") 

		h1 Logicalis Pattern Style Guide
		hr.rule.rule--light
		p.text--lead
			| An guide for creating and managing your front-end.
		
		a.btn-download(href="https://github.com/PebbleRoad/tapestry") Clique e faça Download =)
// / Hero Module


.container

	ul.tapestry-features
		li
			h3 Agilize o desenvolvimento
			p Create your patterns in markdown and drop the files into the Tapestry directory to update the interface.
		li
			h3 Foco na Experiência do Usuário
			p Browse or search patterns by elements, components and templates. View examples, instructions and code samples.
		li
			h3 Fácil para Trabalhar
			p Make Tapestry your own. Download it on Github, install it on your machine and start adding patterns.

