
<!-- Hero Module-->
<div class="ui-module-hero-tapestry">
  <div class="container">
    <p><img src="assets/images/ui.png" alt="" class="teste"/></p>
    <p><img src="assets/images/mascot.png" alt=""/></p>
    <h1>Logicalis Pattern Style Guide</h1>
    <hr class="rule rule--light"/>
    <p class="text--lead">An guide for creating and managing your front-end.</p><a href="https://github.com/PebbleRoad/tapestry" class="btn-download">Clique e faça Download =)</a>
  </div>
</div>
<!-- / Hero Module-->
<div class="container">
  <ul class="tapestry-features">
    <li>
      <h3>Agilize o desenvolvimento</h3>
      <p>Create your patterns in markdown and drop the files into the Tapestry directory to update the interface.</p>
    </li>
    <li>
      <h3>Foco na Experiência do Usuário</h3>
      <p>Browse or search patterns by elements, components and templates. View examples, instructions and code samples.</p>
    </li>
    <li>
      <h3>Fácil para Trabalhar</h3>
      <p>Make Tapestry your own. Download it on Github, install it on your machine and start adding patterns.</p>
    </li>
  </ul>
</div>